:root {
  --background-color: white;
  --secondary-color: #3e92cc;
  --chat-background-color: #f4f5f7;
  --secondary-light-color: #539fd2;
}

body {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  height: 100vh;
}

div {
  position: relative;
  box-sizing: border-box;
}

.topline {
  height: 10vh;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
}
.topline .my_account {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  height: inherit;
  border-right: 1px solid grey;
  align-items: center;
}
.topline .my_account .circle {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: -30px;
}
.topline .my_account .account_picker {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  height: 40px;
  width: 240px;
  text-align: center;
  font-size: 24px;
  margin-right: 10px;
}
.topline .my_account .account_picker span {
  padding-right: 10px;
}
.topline .my_account .account_picker .text {
  padding-left: 30px;
}
.topline .my_account .plussign {
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  height: 40px;
  width: 40px;
  font-size: 24px;
  text-align: center;
  vertical-align: bottom;
  margin-right: 10px;
}
.topline .chosen_chat_info {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}
.topline .chosen_chat_info .info {
  display: flex;
  flex-direction: column;
}
.topline .chosen_chat_info .info .nameandstatus {
  display: flex;
}
.topline .chosen_chat_info .info .nameandstatus .interlocutor_name {
  font-size: 14px;
}
.topline .chosen_chat_info .info .nameandstatus .status {
  margin-left: 10px;
}
.topline .chosen_chat_info .info .nameandstatus .status i {
  color: #51cb20;
}
.topline .chosen_chat_info .options i {
  font-size: 20px;
  padding: 10px;
}
.topline .chosen_chat_info .options .blue {
  color: var(--secondary-light-color);
  font-size: 30px;
}

.mainpart {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.mainpart .left_column {
  width: 30%;
  padding-bottom: 20px;
  border-right: 1px solid grey;
}
.mainpart .left_column .picker {
  height: 70px;
  background-color: #f3f3f5;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.mainpart .left_column .picker i {
  display: flex;
  justify-content: center;
  font-size: 50px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #f3f3f5;
}
.mainpart .left_column .picker i:hover {
  border-bottom: 1px solid blue;
  color: blue;
}
.mainpart .left_column .contacts {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.mainpart .left_column .contacts .addcontact {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  font-size: 12px;
}
.mainpart .left_column .my_chats {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 110px);
  overflow: scroll;
}
.mainpart .left_column .my_chats .chat {
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.mainpart .left_column .my_chats .chat:hover {
  background-color: var(--secondary-light-color);
}
.mainpart .left_column .my_chats .chat .nameandmessage {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.mainpart .left_column .my_chats .chat .nameandmessage .lastmessage {
  padding-top: 5px;
}
.mainpart .left_column .my_chats .chat .chatimage {
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.mainpart .left_column .my_chats .chat .time {
  margin-left: auto;
}
.mainpart .chat_space {
  width: 45%;
  display: flex;
  border-right: 1px solid grey;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--chat-background-color);
}
.mainpart .chat_space .scrollable {
  overflow: scroll;
}
.mainpart .chat_space .scrollable .chat__item {
  display: flex;
  align-items: flex-start;
}
.mainpart .chat_space .scrollable .chat__item .chat__person-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.mainpart .chat_space .scrollable .chat__item .chat__messages {
  margin-left: 10px;
}
.mainpart .chat_space .scrollable .chat__item .chat__messages .chat__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 7px;
  background-color: white;
}
.mainpart .chat_space .scrollable .chat__item .chat__messages .chat__message .timeandinterlocutor {
  font-size: 12px;
  display: flex;
  flex-direction: row;
}
.mainpart .chat_space .scrollable .chat__item .chat__messages .chat__message .timeandinterlocutor span {
  padding-right: 5px;
}
.mainpart .chat_space .scrollable .chat__item .chat__messages .chat__message .chat__message-content {
  display: inline-block;
  margin-left: 5px;
}
.mainpart .chat_space .scrollable .chat__item--responder {
  flex-direction: row-reverse;
}
.mainpart .chat_space .scrollable .chat__item--responder .chat__messages .chat__message {
  background-color: var(--secondary-color);
}
.mainpart .chat_space .scrollable .chat__item--responder .chat__messages .chat__message-content {
  margin-left: 0;
  margin-right: 5px;
}
.mainpart .chat_space .messagecontainer {
  display: flex;
  justify-content: center;
}
.mainpart .chat_space .messagecontainer .messageplace {
  padding-left: 10px;
  margin-top: 20px;
  border: 1px solid grey;
  height: 45px;
  border-radius: 20px;
  width: 80%;
}
.mainpart .interlocutor {
  width: 25%;
  overflow: scroll;
}
.mainpart .interlocutor .profilepic {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpart .interlocutor .profilepic .image {
  background-size: cover;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.mainpart .interlocutor .personaldata .nameandposition {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 15px;
  border-bottom: 1px solid grey;
}
.mainpart .interlocutor .personaldata .nameandposition .position {
  color: grey;
  font-size: 12px;
}
.mainpart .interlocutor .personaldata .nameandposition span i {
  padding-left: 5px;
  color: #51cb20;
}
.mainpart .interlocutor .personaldata .datacontainer {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 15px;
  border-bottom: 1px solid grey;
}
.mainpart .interlocutor .personaldata .email {
  color: var(--secondary-color);
}
.mainpart .interlocutor .sharedfiles {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 15px;
}

/*# sourceMappingURL=style.css.map */
